 <div>
    <a href="/">home</a>
      <ul class="navbar-nav ms-auto">
        <li >
          <a href="/productos">productos</a>
        </li>
        <li>
          <a href="/productos">Crear</a>
        </li>
      </ul>
</div>

