<div>
  <div>
    <h3>{{title}}</h3>
    <p>{{description}}</p>
  </div>
  <div>
    <a href="/productos/delete/{{id}}">
      Eliminar
    </a>
    <a href="/productos/edit/{{id}}">
      Editar
    </a>
  </div>
</div>